h1 {
    background: none;
}

.mainContact {
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topBottom{
    font-size: 2.5rem;
    font-weight: 500;
}

.contactContainer {
    display: flex;
    flex-direction: row;
}

.contactImg {
    max-width: 5rem;
}

.indContact {
    margin: 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.inputParent {
    margin: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formEle {
    width: 750px;
}

.textBox {
    padding: .5rem .1rem;
    border: solid #272727 .1rem;
    border-radius: .3rem;
    background-color: rgb(233, 233, 233);
}

textarea {
    height: 10rem;
}

::placeholder {
    padding: .1rem;
}

.submit {
    border: solid #272727 .1rem;
    border-radius: .3rem;
    /* background-color: rgb(250, 250, 250); */
    padding: .75rem 2.5rem;
    font-size: 1.5rem;
    transition: background-color .5s, color .5s;
}

.submit:hover {
    cursor: pointer;
    background-color: #27272750;
}

.submit:active {
    background-color: #272727;
    color: white;
}

label {
    font-size: 1.1rem;
}

::placeholder {
    font-size: 1rem;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .formEle {
        width: 90%;
    }
}

@media only screen and (max-width: 715px) {
    h1 {
        text-align: center;
    }

    .contactContainer {
        flex-direction: column;
    }
}