h1 {
    background: none;
}

.mainContact {
    margin: 2rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topBottom{
    font-size: 2rem;
    font-weight: 500;
}

.contactContainer {
    display: flex;
    flex-direction: row;
}

.contactImg {
    max-width: 5rem;
}

.indContact {
    margin: 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.inputParent {
    margin: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formEle {
    width: 750px;
}

.textBox {
    padding: .5rem .3rem;
    border: solid #272727 .1rem;
    border-radius: .3rem;
    background-color: rgb(233, 233, 233);
    font-size: 1rem;
}

textarea {
    height: 7.5rem;
    color: #272727;
}

::placeholder {
    padding: .1rem;
}

.submit {
    border: solid #272727 .1rem;
    border-radius: .3rem;
    background-color: var(--orange);
    padding: .75rem 2.5rem;
    font-size: 1.5rem;
    transition: box-shadow .25s, background-color .25s;
}

.submit:hover {
    cursor: pointer;
    box-shadow: inset 0 0 .5rem var(--gray);
}

.submit:active {
    background-color: #b93513;
    box-shadow: inset 0 0 .75rem var(--gray);
}

label {
    font-size: 1.1rem;
}

::placeholder {
    font-size: 1rem;
}

.hidden {
    display: none;
}

.popUp {
    text-align: center;
    margin: 1rem;
}

@media only screen and (max-width: 1000px) {
    .formEle {
        width: 90%;
    }
}

@media only screen and (max-width: 715px) {
    h1 {
        text-align: center;
    }

    .contactContainer {
        flex-direction: column;
    }
}